@page
@model report_as_pdf.Views.Home.PrivacyModel

@{
    void btnDownload_Click(object sender, EventArgs e)
{
    Response.Redirect("PathToHttpHandler/PrivacyModel.cs");
}
}




<button onclick="myFunction()" >Click me</button>

<div id="listgrid" style="padding:10px;"><div style="margin-bottom:10px;">Number of Records: 91</div><table  class="ws-table-all notranslate"><tbody><tr><th>CustomerName</th><th>City</th></tr><tr><td>آلفرد</td><td>برلین</td></tr><tr><td>Ana Trujillo Emparedados y helados</td><td>México D.F.</td></tr><tr><td>Antonio Moreno Taquería</td><td>México D.F.</td></tr><tr><td>Around the Horn</td><td>London</td></tr><tr><td>Berglunds snabbköp</td><td>Luleå</td></tr><tr><td>Blauer See Delikatessen</td><td>Mannheim</td></tr><tr><td>Blondel père et fils</td><td>Strasbourg</td></tr><tr><td>Bólido Comidas preparadas</td><td>Madrid</td></tr><tr><td>Bon app'</td><td>Marseille</td></tr><tr><td>Bottom-Dollar Marketse</td><td>Tsawassen</td></tr><tr><td>B's Beverages</td><td>London</td></tr><tr><td>Cactus Comidas para llevar</td><td>Buenos Aires</td></tr><tr><td>Centro comercial Moctezuma</td><td>México D.F.</td></tr><tr><td>Chop-suey Chinese</td><td>Bern</td></tr><tr><td>Comércio Mineiro</td><td>São Paulo</td></tr><tr><td>Consolidated Holdings</td><td>London</td></tr><tr><td>Drachenblut Delikatessend</td><td>Aachen</td></tr><tr><td>Du monde entier</td><td>Nantes</td></tr><tr><td>Eastern Connection</td><td>London</td></tr><tr><td>Ernst Handel</td><td>Graz</td></tr><tr><td>Familia Arquibaldo</td><td>São Paulo</td></tr><tr><td>FISSA Fabrica Inter. Salchichas S.A.</td><td>Madrid</td></tr><tr><td>Folies gourmandes</td><td>Lille</td></tr><tr><td>Folk och fä HB</td><td>Bräcke</td></tr><tr><td>Frankenversand</td><td>München</td></tr><tr><td>France restauration</td><td>Nantes</td></tr><tr><td>Franchi S.p.A.</td><td>Torino</td></tr><tr><td>Furia Bacalhau e Frutos do Mar</td><td>Lisboa</td></tr><tr><td>Galería del gastrónomo</td><td>Barcelona</td></tr><tr><td>Godos Cocina Típica</td><td>Sevilla</td></tr><tr><td>Gourmet Lanchonetes</td><td>Campinas</td></tr><tr><td>Great Lakes Food Market</td><td>Eugene</td></tr><tr><td>GROSELLA-Restaurante</td><td>Caracas</td></tr><tr><td>Hanari Carnes</td><td>Rio de Janeiro</td></tr><tr><td>HILARIÓN-Abastos</td><td>San Cristóbal</td></tr><tr><td>Hungry Coyote Import Store</td><td>Elgin</td></tr><tr><td>Hungry Owl All-Night Grocers</td><td>Cork</td></tr><tr><td>Island Trading</td><td>Cowes</td></tr><tr><td>Königlich Essen</td><td>Brandenburg</td></tr><tr><td>La corne d'abondance</td><td>Versailles</td></tr><tr><td>La maison d'Asie</td><td>Toulouse</td></tr><tr><td>Laughing Bacchus Wine Cellars</td><td>Vancouver</td></tr><tr><td>Lazy K Kountry Store</td><td>Walla Walla</td></tr><tr><td>Lehmanns Marktstand</td><td>Frankfurt a.M. </td></tr><tr><td>Let's Stop N Shop</td><td>San Francisco</td></tr><tr><td>LILA-Supermercado</td><td>Barquisimeto</td></tr><tr><td>LINO-Delicateses</td><td>I. de Margarita</td></tr><tr><td>Lonesome Pine Restaurant</td><td>Portland</td></tr><tr><td>Magazzini Alimentari Riuniti</td><td>Bergamo</td></tr><tr><td>Maison Dewey</td><td>Bruxelles</td></tr><tr><td>Mère Paillarde</td><td>Montréal</td></tr><tr><td>Morgenstern Gesundkost</td><td>Leipzig</td></tr><tr><td>North/South</td><td>London</td></tr><tr><td>Océano Atlántico Ltda.</td><td>Buenos Aires</td></tr><tr><td>Old World Delicatessen</td><td>Anchorage</td></tr><tr><td>Ottilies Käseladen</td><td>Köln</td></tr><tr><td>Paris spécialités</td><td>Paris</td></tr><tr><td>Pericles Comidas clásicas</td><td>México D.F.</td></tr><tr><td>Piccolo und mehr</td><td>Salzburg</td></tr><tr><td>Princesa Isabel Vinhoss</td><td>Lisboa</td></tr><tr><td>Que Delícia</td><td>Rio de Janeiro</td></tr><tr><td>Queen Cozinha</td><td>São Paulo</td></tr><tr><td>QUICK-Stop</td><td>Cunewalde</td></tr><tr><td>Rancho grande</td><td>Buenos Aires</td></tr><tr><td>Rattlesnake Canyon Grocery</td><td>Albuquerque</td></tr><tr><td>Reggiani Caseifici</td><td>Reggio Emilia</td></tr><tr><td>Ricardo Adocicados</td><td>Rio de Janeiro</td></tr><tr><td>Richter Supermarkt</td><td>Genève</td></tr><tr><td>Romero y tomillo</td><td>Madrid</td></tr><tr><td>Santé Gourmet</td><td>Stavern</td></tr><tr><td>Save-a-lot Markets</td><td>Boise</td></tr><tr><td>Seven Seas Imports</td><td>London</td></tr><tr><td>Simons bistro</td><td>København</td></tr><tr><td>Spécialités du monde</td><td>Paris</td></tr><tr><td>Split Rail Beer &amp; Ale</td><td>Lander</td></tr><tr><td>Suprêmes délices</td><td>Charleroi</td></tr><tr><td>The Big Cheese</td><td>Portland</td></tr><tr><td>The Cracker Box</td><td>Butte</td></tr><tr><td>Toms Spezialitäten</td><td>Münster</td></tr><tr><td>Tortuga Restaurante</td><td>México D.F.</td></tr><tr><td>Tradição Hipermercados</td><td>São Paulo</td></tr><tr><td>Trail's Head Gourmet Provisioners</td><td>Kirkland</td></tr><tr><td>Vaffeljernet</td><td>Århus</td></tr><tr><td>Victuailles en stock</td><td>Lyon</td></tr><tr><td>Vins et alcools Chevalier</td><td>Reims</td></tr><tr><td>Die Wandernde Kuh</td><td>Stuttgart</td></tr><tr><td>Wartian Herkku</td><td>Oulu</td></tr><tr><td>Wellington Importadora</td><td>Resende</td></tr><tr><td>White Clover Markets</td><td>Seattle</td></tr><tr><td>Wilman Kala</td><td>Helsinki</td></tr><tr><td>Wolski</td><td>Walla</td></tr></tbody></table></div>

<button onclick="saveDiv()" >Download Pdf</button>


<p id="demo"></p>

<script>

	function sumValues(int a,int b){
		alert("sum is " +(a+b));
	}

	function saveDiv()
	{
		var doc = new jsPDF();

		doc.text(20, 20, 'Hello world!');
		doc.text(20, 30, 'This is client-side Javascript to generate a PDF.');

		// Add new page
		doc.addPage();
		doc.text(20, 20, 'Visit CodexWorld.com');

		// Save the PDF
		doc.save('document111.pdf');
	}

	function myFunction() {

			var originalContents = document.body.innerHTML;

			const element = document.querySelector('body');
			const md=document.getElementById('listgrid');
			element.style.visibility = 'hidden';
			md.style.visibility = 'visible';

			window.print();

			element.style.visibility = 'visible';
 
}
</script>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>